{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Passion</div>
                <div class="card-body">
                    <ul>
                        <li>
                           <p class="card-text">La mode</p>
                           <img class="Img-responsive" src="/woman-gfc68ff9cd_640.jpg" alt="image">
                        </li>
                    </ul>
                    <ul>
                        <li>
                           <p class="card-text">La technologie</p>
                           <img class="Img-responsive" src="/software-developer-g5ead45712_640.jpg" alt="image">
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Hobbies</div>
                <div class="card-body">
                    <ul>
                        <li>
                           <p class="card-text">La musique</p>
                           <img class="Img-responsive" src="/hand-g73e12a54f_640.jpg" alt="image">
                        </li>
                    </ul>
                    <ul>
                        <li>
                           <p class="card-text">Les réseaux sociaux</p>
                           <img class="Img-responsive" src="/marketing-g62d7401d4_640.jpg" alt="image">
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Phobies</div>
                <div class="card-body">
                    <ul>
                        <li>
                           <p class="card-text">Les animaux</p>
                           <img class="Img-responsive" src="/cat-g983539095_640.jpg" alt="image">
                        </li>
                    </ul>
                    <ul>
                        <li>
                           <p class="card-text">L'entomophobie</p>
                           <img class="Img-responsive" src="/background-g2949a7a95_640.jpg" alt="image">
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

            
{% endblock %}
