{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container">
    <div id="Accueil">
        <div class="row">
           <div class="col-6">
               <div class="img-frame">
                    <img class="img-frame-bg" src="/tablet-g820b846a7_640.png" alt="image">
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="button">Enter E-Mail</button>
                        <button class="btn btn-lg btn-primary" type="button">Enter Password</button>
                        <button type="button" class="btn btn-primary btn-sm">Se connecter</button>
                    </div>
                    <div class="img-content card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Présentation</div>
                        <div class="card-body">
                            <ul>
                                <li>
                                   <span class="badge bg-primary">  Name</span>
                                   <span class="badge bg-secondary">AYADJI</span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                   <span class="badge bg-primary">First Name</span>
                                   <span class="badge bg-secondary">Fifamè</span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span class="badge bg-primary">Contacts</span>
                                    <span class="badge bg-secondary">0678763170</span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span class="badge bg-primary">Address</span>
                                    <span class="badge bg-secondary">15 Rue Fontenille</span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span class="badge bg-primary">Email</span>
                                    <span class="badge bg-secondary">fifame.gloria.valles.ayadji@etu.univ-st-etienne.fr</span>
                                </li>
                            </ul> 
                        </div>
                    </div>
               </div>
           </div>
        </div>
    </div>
</div>

                               


{% endblock %}
