#Accueil img
{
	width:700px;
}
	
.img-right{
    float: right;
}

#Image img
{
    color:black;
    background-color:white;
    background-image:url(CV.jpeg);
    margin:0;
    width:1400px;
    background-position:center center;
}